<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div th:insert="blocks/navbar.html :: navbar"/>
<main class="container" th:each="el : ${title}">
    <div class="bg-light p-5 rounded mt-3">
        <h1 th:text="${el.getFirstName()}"/>
        <p class="lead">This example is a quick exercise to illustrate how the bottom navbar works.</p>
        <a class="btn btn-lg btn-primary" href="/">Go back</a>
    </div>
</main>
</body>
</html>