<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div class="container py-3">
        <div th:insert="blocks/navbar.html :: navbar"/>
        <div th:each="el : ${title}" class="alert alert-info mt-2">
            <h2 th:text="${el.getFirstName()}"></h2>
            <a class="btn btn-warning" th:href="'/blog/' + ${el.getId()}">Перейти</a>
        </div>
        <div th:insert="blocks/content.html :: main"/>
    </div>
</body>
</html>